<div class="contact">
  <%= form_for :contact, url: '/send_contact', method: 'post', html: {class: 'contact-form'} do |f| %>
  	<%= f.label 'I am contacting about:' %><br>
  	<%= f.collection_select :work_type, Work.order(:name), :id, :name %><br>

  	<%= f.label 'Name' %><br>
  	<%= f.text_field :name %><br>

  	<%= f.label 'E-Mail' %><br>
  	<%= f.text_field :email %><br>

  	<%= f.label 'Message' %><br>
  	<%= f.text_area :message %><br>

  	<%= f.submit "Send" %>
  <% end %>
</div>