<nav>
  <ul class="nav-container">
    <span id="logo">
      <li>
        <%= link_to root_path do %>
          <%= image_tag('bv_weblogo.png', height: '47', width: '400') %>
        <% end %>
      </li>
    </span>

    <span class="nav-links">
      <li><%= render partial: 'layouts/work_dropdown' %></li>
      <li><button><%= link_to 'About', about_path %></button></li>
      <li><button><%= link_to 'Contact', contact_path %></button></li>
    </span>
  </ul>
</nav>