<!DOCTYPE html>
<html>
  <head>
    <title>Bon Voyage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="nav-bar">
      <nav>
        <ul class="nav-container">
          <div class="logo">
            <li>
              <%= link_to root_path do %>
                <%= image_tag("bv_weblogo.png", height: '35', width: '300') %>
              <% end %>
            </li>
          </div>

          <div class="nav-links">
            <li><%= link_to "Work", works_path %></li>
            <li><%= link_to "About" %></li>
            <li><%= link_to "Contact" %></li>
          </div>
        </ul>
      </nav>
  	</div>

    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
