<!DOCTYPE html>
<html>
  <head>
    <title>Bon Voyage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="nav-bar">
	  	<div id="logo">
	      <%= link_to root_path do %>
	        <%= image_tag("bv_weblogo.png", height: '35', width: '300') %>
	      <% end %>
	    </div>

  	</div>
    <%= yield %>
  </body>
</html>
